@font-face {
    font-family: "tight pixel";
    src: url("LCD_Solid.ttf");
}
body {
    background-color: #000000;
    color: red;
}
li {
    line-height: 165%;
}
div.DATE {
    float:right;
    margin-top:30%;
}
div.Manabar {
    width:100%;
    border: solid red;
    border-radius: 2.1vh;
    color:white;
}
div.Manatrack {
    text-align: center;
    width:100%;
    height:100%;
    border-radius: 1vh;
    background-color: blue;
}
div.Healthbar {
    width:100%;
    border-style:solid;
    border-radius: 2.1vh;
}
div.Healthbar.ally {
    position:absolute;
    float:right;
    height:2vh;
    line-height: 2.1vh;
    font-size: 1.1vw;
    font-family: sans-serif;
    margin-top: 0.3%;
    width:8%;
    right:18%;
}
div.Healthtrack {
    text-align: center;
    width:100%;
    height:100%;
    border-radius: 1vh;
    background-color: springgreen;
}
div.Pstats {
    float:left;
    margin-left: 5%;
    height:100%;
    width:52%;
    display:inline-block;
    font-size: 1.3vw;
    font-family: "tight pixel",serif;
}
header.Playername {
    color: red;
    font-size: 2.2vw;
    font-family: "tight pixel",serif;
}
button.THEBUTTON {
    background-color: #00FF00;
    color: red;
    font-family: "tight pixel",serif;
    font-size: 1.8vw;
    border:none;
}
div.Options {
    display:none;
    position:absolute;
    height:100%;
    width:40%;
    top:0;
    right:30%;
    background-color: black;
    border: solid darkmagenta;
}
button.Options {
    font-family: "tight pixel",serif;
    font-size: 1.3vw;
    border: solid darkmagenta;
    background-color: black;
    color:white;
}
div.Eholder {
    display:inline-block;
    margin-right: 1.5%;
}
ul.allies {
    font-family: "tight pixel",serif;
    font-size: 1.1vw;
    margin:0;
    padding: 0;
    list-style-type: none;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.Msg {
    width:100%;
    margin:0;
    padding: 0;
    list-style-type: none;
}
button.Mercs {
    border-color: lightskyblue;
    background-color: black;
    font-family: "tight pixel",serif;
    font-size: 1.2vw;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
    width: 100%;
    text-align: left;
}
div.Upgrades {
    position:absolute;
    right:1%;
    top:1.3%;
    height: 9%;
    width: 28%;
}
div.Bank {
    position:absolute;
    right:1%;
    top:1.3%;
    height: 9%;
    width: 28%;
}
button.Upgrade {
    float:right;
    width: 16%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-repeat: no-repeat;
    border: solid darkkhaki;
}
div.inventoryicon {
    width: 14%;
    height: 100%;
    z-index:1;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid darkred;
}
button.class1.buildselection {
    float: right;
    width: 100%;
}
button.class1 {
    background-color: black;
    color: white;
    font-family: "tight pixel",serif;
    font-size: 1.4vw;
    border: solid maroon;
}
button.class2 {
    background-color: black;
    color: white;
    font-family: "tight pixel",serif;
    font-size: 1.4vw;
    border: solid orangered;
}
div.tooltip {
    background-color:black;
    position:absolute;
    width:15%;
    font-family: "tight pixel",serif;
    color: white;
    border: solid chartreuse;
    display: none;
    padding-bottom:1%;
    z-index: 1;
}
div.tooltip.Enemy {
    font-size: 1.1vw;
    position:absolute;
    top:65%;
    right:100%;
    width:60%;
}
div.Abilities {
    position:absolute;
    height:20%;
    float:top;
    margin-top: 1.85%;
    width: 20%;
}
div.tooltip.Abilities {
    display:none;
    position:absolute;
    float:left;
    width:80%;
    height:auto;
    font-size: 1.1vw;
    margin-top: 0;
}
button.ability {
    width:25%;
    height:50%;
    float:left;
    background: no-repeat black;
    background-size: 100%;
    border-color: dodgerblue;
}
button.class1.tooltiputil {
    font-size: 1.2vw;
    border-color: green;
}
div.tooltip.units {
    position:absolute;
    display:none;
    float:right;
    right:80%;
    font-size: 1.1vw;
    width:100%;
}
div.tooltip.spellshop {
    width:100%;
    float:right;
}
div.tooltip.upgrades {
    position:absolute;
    display:none;
    top:1.5%;
    right:23.03%;
    width:100%;
    font-size: 1.1vw;
}
div.tooltip.inventory {
    display:none;
    width: 25%;
    background-color: black;
    font-size: 1.1vw;
    position:absolute;
    float:top;
    margin-top: 0.32%;
}
button.class1.portal {
    border-color: rebeccapurple;
    width:25%;
    font-size: 1.2vw;
}
div.portal1 {
    width:35%;
}
div.tooltip.blacksmith {
    float:right;
    background-color: black;
    font-size: 1.1vw;
    width:100%;
    right:100%;
    position:absolute;
}
div.tooltip.buildings {
    min-width:25%;
    margin-left:24.7%;
    background-color: black;
    font-size: 1.1vw;
    float:left;
}
button.blacksmith {
    height: 100%;
    width: 20%;
    float:right;
    border-color: saddlebrown;
    background: no-repeat darkgrey;
    background-size: 100%;
}
button.spellshop {
    height: 100%;
    width: 20%;
    float:right;
    border-color: dodgerblue;
    background:no-repeat black;
    background-size: 100%;
}
button.buildings {
    border-color: lightskyblue;
    background-color: black;
    font-family: "tight pixel",serif;
    font-size: 1.1vw;
    color: white;
    width: 100%;
    text-align: right;
}
li.Msg {
    padding-left: 1%;
    border: solid darkred;
}
img.Entity.wobbling {
    animation: wobble 0.6s;
    animation-iteration-count: infinite;
}
img.Entity.dead {
    animation: dead 0.8s;
    animation-iteration-count: infinite;
}
@keyframes wobble {
    0% { transform: translate(3px, 3px) rotate(0deg); }
    10% { transform: translate(-3px, -6px) rotate(-3deg); }
    20% { transform: translate(-9px, 0px) rotate(3deg); }
    30% { transform: translate(9px, 6px) rotate(0deg); }
    40% { transform: translate(3px, -3px) rotate(3deg); }
    50% { transform: translate(-3px, 6px) rotate(-3deg); }
    60% { transform: translate(-8px, 4px) rotate(0deg); }
    70% { transform: translate(9px, 3px) rotate(-4deg); }
    80% { transform: translate(-3px, -3px) rotate(4deg); }
    90% { transform: translate(3px, 6px) rotate(0deg); }
    100% { transform: translate(3px, -6px) rotate(-5deg); }
}
@keyframes dead {
    0% { transform: translate(4px, 20px) rotate(0deg); }
    10% { transform: translate(8px, 40px) rotate(14deg); }
    20% { transform: translate(12px, 60px) rotate(28deg); }
    30% { transform: translate(16px, 80px) rotate(42deg); }
    40% { transform: translate(20px, 100px) rotate(56deg); }
    50% { transform: translate(24px, 120px) rotate(70deg); }
    60% { transform: translate(28px, 140px) rotate(84deg); }
    70% { transform: translate(32px, 160px) rotate(98deg); }
    80% { transform: translate(36px, 180px) rotate(112deg); }
    90% { transform: translate(40px, 200px) rotate(126deg); }
    100% { transform: translate(44px, 220px) rotate(140deg); }
}
